@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

/*Reset na página-tirar bugs*/
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*cor da página*/
body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

/*Configurar cabecalho - com flexbox (fazer leitura completa)*/
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

/* Configurando logo do cabecalho*/
.cabecalho-imagem{
    height: 72px;
}

/*Configurando a estrutura dos menus da barra de navegação*/
.cabecalho-menu{
    display: flex;
    gap: 32px;
} /* gap- coloquei flex para poder distanciar melhor os menus*/

/* Configurando os menus */
.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

/*Engloba todo o main*/
.conteudo{
    margin-bottom: 48px; 
    border-top: 0.4px solid #FFF2E7;
} 

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    gap: 32px ;
    flex-direction: column;
}
.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
    ;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
    ;
}

.conteudo-principal-botao{
    background-color: #ECD6C4;
    width: 185px;
    height: 67px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
    
}

.conteudo-principal-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem{
    height: 430px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px ;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #FFF2E7;
}

.rodape{
    padding: 32px;
    border-top: 0.5px solid rgb(89, 42, 165);
    
}

.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}